@model TeknikServisYazılım.Entity.Suppliers

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-9" style="margin-bottom:50px;margin-top:30px;margin-left:50px">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        YENİ DIŞ SERVİS EKLE
                    </h3>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Create", "Supplier", null, FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right" }))
        {
            @Html.AntiForgeryToken()
            <div class="m-portlet__body">
                <div class="form-group m-form__group m--margin-top-10">
                    <div class="alert m-alert m-alert--default" role="alert">
                        Bu formdan yeni tedarikçi ekleyebilirsiniz.
                    </div>
                </div>

                <div class="form-group m-form__group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="exampleInputEmail1">
                                Dış Servis adı :
                            </label>
                        </div>
                        <div class="col-md-2" style="margin-left:-60px">

                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control m-input" })
                        </div>
                        <div class="col-md-2">
                            <label for="exampleInputEmail1">
                                Telefon :
                            </label>
                        </div>
                        <div class="col-md-2" style="margin-left:-90px">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control m-input", @id="phone" })
                        </div>
                        <div class="col-md-1">
                            <label for="exampleInputEmail1">
                                Adres :
                            </label>
                        </div>
                        <div class="col-md-3" style="margin-left:-30px">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control m-input", @placeholer = "Model" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                    @Html.ActionLink("Listeye Dön", "Index")
                </div>
            </div>
        }

    </div>
    <!--end::Portlet-->
</div>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    $("#phone").mask("(999) 999-9999");
</script>